<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jht.mapper.BoardMapper">
		<insert id="write">
			insert into board2(title,content,writer,regdate)
			values(#{title},#{content},#{writer},#{regdate})
		</insert>
		
		<!-- Board테이블에 insert 하기전에 bno값을 미리 만들어 놓고 insert해야함 -->
		<insert id="insertSelectKey">
			<selectKey keyProperty="bno" order="BEFORE" resultType="int"> <!-- 여기서 생성한 bno를 밑에 적용시킨다 -->
				select max(bno)+1 bno from board2;
			</selectKey>
			insert into board2(bno,title,content,writer,regdate)
			values(#{bno},#{title},#{content},#{writer},#{regdate})
		</insert>
		
		<select id="list" resultType="org.jht.domain.BoardDTO" >
			select *
			from(
			select @rownum:=@rownum+1 as rownum, b2.* 
			from (select @rownum:=0) as tmp,
				  board2 as b2
		<choose>
			<when test="search == null">
				where 1=1
			</when> 
			<when test="search == 'T'.toString()"> <!-- cri에 있는 search가 'T'일때 (그냥 T만 적으면 char로 보니깐 String 타입이란걸 toString()으로 적어준다)-->
				where title like concat('%',#{keyword},'%')
			</when>
			<when test="search == 'C'.toString()">
				where content like  concat('%',#{keyword},'%')
			</when>
			<when test="search == 'W'.toString()">
			  	where writer like  concat('%',#{keyword},'%')
			</when>
			<when test="search == 'TC'.toString()">
			 	 where title like  concat('%',#{keyword},'%')
			  	 or content like  concat('%',#{keyword},'%')
			</when>
			<otherwise>
				where title like  concat('%',#{keyword},'%')
			  	or content like  concat('%',#{keyword},'%')
			  	or writer like  concat('%',#{keyword},'%')
			</otherwise>
		</choose>
			) as boardList
		

	<!-- 코드작성시 부등호를 부등호로 인식을 하지 못한다 그래서 부등호로 인식핡수있게 CDATA 사용 -->
	<![CDATA[
	 	where rownum > (#{pageNum}-1)*#{amount} 
		and rownum <= #{pageNum}*#{amount}
	]]>
	</select>
	
	<select id="detail" resultType="org.jht.domain.BoardDTO">
		select * from board2 where bno=#{bno}
	</select>  	
	<update id="cntupdate">
		update board2
		set cnt = cnt+1
		where bno = #{bno}
	</update>
	<update id="modify">
		update board2
		set title=#{title},
			content=#{content},
		    regdate=now()
		where bno=#{bno}
	</update>
	<delete id="remove">
		delete
		from board2
		where bno=#{bno}
	</delete>
	
	<select id="getTotalCount" resultType="int"> <!-- 임의로 정한 200에 대한 것 -->
		select count(*) from board2
		<!-- 특정 검색시 관련된 자료가 하나인데 버튼은 여러개 생기는걸 방지 -->
	<choose>
		<when test="search == null">
			where 1=1
		</when> 
		<when test="search == 'T'.toString()">
			where title like concat('%',#{keyword},'%')
		</when>
		<when test="search == 'C'.toString()">
			where content like  concat('%',#{keyword},'%')
		</when>
		<when test="search == 'W'.toString()">
		  	where writer like  concat('%',#{keyword},'%')
		</when>
		<when test="search == 'TC'.toString()">
		 	 where title like  concat('%',#{keyword},'%')
		  	 or content like  concat('%',#{keyword},'%')
		</when>
		<otherwise>
			where title like  concat('%',#{keyword},'%')
		  	or content like  concat('%',#{keyword},'%')
		  	or writer like  concat('%',#{keyword},'%')
		</otherwise>
	</choose>
	</select>
	
	
</mapper>

	
	
	

